<!DOCTYPE html>
<html lang="pt-br" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A starter example with all elements and components used in Pico design system. Built with Pico CSS.">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BiritaShop</title>
</head>

<body>
  <div class="w3-bar w3-black w3-mobile w3-xlarge">
    <a href="/" class="w3-bar-item w3-button w3-mobile">BiritaShop</a>
    <a href="/public/sobre" class="w3-bar-item w3-button w3-mobile w3-right">Sobre</a>
    <a href="/public/contato" class="w3-bar-item w3-button w3-mobile w3-right">Contato</a>
    
    <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button w3-bar-block w3-mobile">Cliente</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/cliente/adicionar" class="w3-bar-item w3-button w3-mobile">Adicionar Cliente</a>
        <a href="/cliente/listar" class="w3-bar-item w3-button w3-mobile">Lista de Clientes</a>
      </div>
    </div>

    <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button w3-bar-block w3-mobile">Dependente</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/dependente/adicionar" class="w3-bar-item w3-button w3-mobile">Adicionar Dependente</a>
        <a href="/dependente/listar" class="w3-bar-item w3-button w3-mobile">Lista de Dependentes</a>
      </div>
    </div>

    <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button w3-bar-block w3-mobile">Produto</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/produto/adicionar" class="w3-bar-item w3-button w3-mobile">Adicionar Produto</a>
        <a href="/produto/listar" class="w3-bar-item w3-button w3-mobile">Lista de Produtos</a>
      </div>
    </div>

    <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-yellow w3-button w3-bar-block w3-mobile">Pedido</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/pedido/adicionar" class="w3-bar-item w3-button w3-mobile">Adicionar Pedido</a>
          <a href="/pedido/listar" class="w3-bar-item w3-button w3-mobile">Lista de Pedidos</a>
        </div>
    </div>
</div>

  <div class="grid">
    <div style="padding:0 16px;">
      <h1>Clientes Cadastrados</h1>
    <form th:action="@{/itemPedido/compras}" method="POST" th:object="${pedidoDTO}">
      <div class="row mb-2">
        <div class="col-sm-6">
          <select class="form-select" name="cliente">
            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nomeCompleto}"></option>
          </select>
        </div>
      </div>

      <h1>Lista dos Produtos Cadastrados</h1>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th><input class="form-check-input" type="checkbox" id="selectall"></th>
            <th>ID</th>
            <th>Nome</th>
            <th>Marca</th>
            <th>Volume</th>
            <th>Tipo Embalagem</th>
            <th>Preço R$</th>
            <th>Quantidade</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="produto, iStat: ${produtos}">
            <td>
              <input class="form-check-input checkbox-item" type="checkbox" id="selecionado" th:field="*{itens[__${iStat.index}__].id}" th:value="${produto.id}">
            </td>
            <th class="scope" th:text=${produto.id}></th>
            <td th:text=${produto.nome}></td>
            <td th:text=${produto.marca}></td>
            <td th:text="${produto.volume}"></td>
            <td th:text="${produto.tipoEmbalagem}"></td>
            <td th:text="'R$' + ${produto.precoVenda}"></td>
            <td>
              <input class="form-control" type="number" id="quantidade" th:field="*{itens[__${iStat.index}__].quantidade}" placeholder="1" min="1" value="1">
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="col-sm-4">
        <div class="input-group mb-3">
          <label class="input-group-text" for="formaPagamento">Forma de Pagamento</label>
          <select class="form-select" id="formaPagamento" name="formaPagamento" th:field="*{formaPagamento}" required>
            <option th:each="tipo : ${tipos}" th:text="${tipo}" th:value="${tipo}">
            </option>
          </select>
        </div>
      </div>
      <br>
      <div class="col-sm-4">
        <div class="input-group mb-3">
          <label class="input-group-text" for="valorPago">Total em R$</label>
          <input class="form-control mask-valor" type="text" id="valorPago">
        </div>
      </div>

      <button class="btn btn-outline-success col-sm-2" type="submit">
        Adicionar
      </button>
      <br>
      <button class="btn btn-outline-secondary col-sm-2" type="reset">
        Limpar Campos
      </button>

    </form>
  </div>
</body>

</html>