<!DOCTYPE html>
<html lang="pt-br" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A starter example with all elements and components used in Pico design system. Built with Pico CSS.">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <link rel="canonical" href="https://picocss.com/examples/preview/">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>BiritaShop</title>
</head>

<body>
    <div class="w3-bar w3-black w3-xlarge">
        <a href="/" class="w3-bar-item w3-button w3-mobile "> Inicio </a>
        <a class="w3-bar-item w3-button w3-mobile" href="/dependente/adicionar">Adicionar Dependente</a>
        <a class="w3-yellow w3-bar-item w3-button w3-mobile" href="/dependente/listar">Lista dos Dependentes</a>
        <a class="w3-bar-item w3-button w3-mobile w3-right" href="/public/contato">Contato</a>
        <a class="w3-bar-item w3-button w3-mobile w3-right" href="/public/sobre">Sobre</a>
    </div>

    <div class="grid">
        <div style="padding:0 16px;">
        <form th:action="@{/dependente/listar}" method="GET" th:object="${cliente}">
            <h1>Lista de Clientes</h1>
            <div class="row">
                <select class="form-select" name="clienteId">
                    <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nomeCompleto}" th:selected="${cliente.id} == ${clienteId}">
                    </option>
                </select>
            </div>

            <div class="row mt-1">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>

        </form>

        <h1 class="text-center">Dependentes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</td>
                    <th scope="col">Nome Completo</td>
                    <th scope="col">Data de Nascimento</td>
                    <th scope="col">Gênero</td>
                    <th scope="col">Editar</td>
                    <th scope="col">Remover</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dependente : ${dependentes}">
                    <th scope="row" th:text="${dependente.id}"></td>
                    <td th:text="${dependente.nomeCompleto}"></td>
                    <td th:text="${#temporals.format(dependente.dataNascimento, 'dd/MM/yyyy')}"></td>
                    <td th:text="${dependente.genero}"></td>
                    <td><a th:href="@{editar/{id}(id=${dependente.id})}">Editar</a></td>
                    <td><a th:href="@{remover/{id}(id=${dependente.id})}">Remover</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>